<div>
    <div>
        {{#if count}}
        <h3><a class="link" href="/api/bets/active">Active Bets: {{count}}</a></h3>
        {{else}}
        <h4>No Active Bets</h4>
       {{/if}}
    </div>
</div>