<div>
    <div>
        {{#if count}}
        <h4><a class="link border" href="/api/bets/pending">Pending Bets: {{count}}</a></h4>
        {{else}}
        <h4>No Pending Bets</h4>
       {{/if}}
    </div>
</div>