<head>
    <title>
        {{#if loggedIn}}
        Welcome to Napkin Bets, {{username}}
        {{else}}
        Napkin Bets
        {{/if}}
    </title>
</head>

<body>
    <header>
        <h1>Napkin Bets</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>

            <ul class="nav">
                {{#if loggedIn}}
                <li><a href="/logout">Log Out</a></li>
                {{else}}
                <li><a href="/login">Log In</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to Napkin Bets!</h2>
        <p>Intro to info about site</p>
    </main>
</body>