<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Napkin Bets</title>
  <link rel="stylesheet" href="/vendor/jquery-typeahead/dist/jquery.typeahead.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body style="
margin-left: 25px;
margin-right: 25px;">
  <header class= 'jumbotron'>
    <h1>Napkin Bets</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/betStats">Your Stats</a>
    {{#if logged_in}}
    <a href="#" id="logout">Logout</a>
    <a href="/add">Create Bet</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    {{/if}}
  </nav>
  <main>
    <div class="options">
      {{{body}}}
    </div>
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/vendor/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
</body>

</html>