<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Napkin Bets</title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Napkin Bets</h1>
  </header>
  <nav>
    <a href="/betStats">Home</a>
    {{#if logged_in}}
    <a href="/" id="logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="options">
      {{{body}}}
    </div>
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>