<section id="add" class="container">
  <div class="form-wrap">
    <h6>Add A Bet</h6>

<div class="row">
   <div class="card" style="width: 80rem;">
        <div class="card-body">


    <form action="/api/bets" method="POST">
      <div class="input-group">
        <label class = "input-label" for="terms">Bet Terms</label>
        <input type="text" name="terms" id="title" class="input-box"
          placeholder="e.g. Don't shave for 3 weeks" maxlength="300" value={{terms}}>
      </div>



      <div class="input-group">
        <label class = "input-label" for="prize">Prize</label>
        <input type="text" name="prize" id="prize" class="input-box"
          placeholder="e.g. $20, Buy a beer..." maxlength="100" value={{prize}}>
      </div>



      <div class="input-group">
        <label class = "input-label" for="challenger">Your friend's username</label>
        <input type="text" name="username" id="username" class="input-box" placeholder="e.g. GullibleFriend08"
          value={{username}}>
      </div>


      <input type="submit" value="Add!" class="btn btn-reverse">
    </form>
    </div>
  </div>
  </div>
  </div>
</section>