
{{#if bets.length}}
<h3 class="card-title">Bet History</h3>
<div class="row">
    <section class="container">
        {{#each bets as |bet|}}

        <div class="col">

            <div class="card">

                <ul class="list-group list-group-flush">
                    <h4>Username: {{bet.user.username}}</h4>
                    <p>Wins: {{bet.wins}}</p>
                    <p>Loss: {{bet.losses}}</p>
                    <a style="font-size:smaller">{{user.name}}</a>
                </ul>
            </div>
        </div>

        {{/each}}
    </section>

    {{/if}}