

        {{#if bets.length}}

        <h6 class="card-title">Bet History</h6>

            {{#each bets as |bet|}}
                    <div class="row">
                <div class="card" style="width: 45rem;">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Username: {{bet.user.username}}</li>
                        <li class="list-group-item">Wins: {{bet.wins}}</li>
                        <li class="list-group-item">Losses: {{bet.losses}}</li>
                    </ul>


                </div>
            </div>
        </div>
        {{/each}}


        {{/if}}