
{{#if bets.length}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src= "../public/Images/dice.jpeg">
    <div class="card-header">
        <h3 class="card-title">Bet History</h3>
        <ul class="list-group list-group-flush">
        {{#each bets as |bet|}}
        <p>Name: {{bet.user.username}}</p>
        <p>Wins: {{bet.wins}}</p>
        <p>Loss: {{bet.losses}}</p>
        <a style="font-size:smaller">{{user.name}}</a>
        {{/each}}
        </ul>
    </div>
</div>

{{/if}}
