<main class='login-form container'>
  <div class="form-signin">
  <form class='login-form'>
        <div class="row justify-space-between-md"></div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating login-form">
      <input type="email" class="form-control form-login" id="email-login" placeholder="name@example.com">
      <label for="floatingInput email-login">Email address</label>
    </div>
    <div class="form-floating form-group">
      <input type="password" class="form-control" id="password-login" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary form-group" type="submit">Sign in</button>
  <button class="w-100 btn btn-lg btn-primary form-group" id="email-signup" type="submit">Sign Up</button>
  </div>
  </main>

  </form>
</div>
  <script src="./js/login.js"></script>