<h6 class='pendBets'>Pending Bets</h6> 
{{#each pDeBets as |bet|}}
<div class = "container4">
<section class="active-bet">
  <div class="bet-header">
    <h3> The Bet:</h3>
    <p>{{bet.terms}}</p>
    <h3> The Bettors:</h3>

    <h3> The Prize:</h3>
    <p>{{bet.prize}}</p>
    <br>
    <form action="/api/bets/status/{{bet.id}}?_method=PUT" method="POST">
    <input class = "AcceptBtn" type = "submit" value = "Accept Bet!" name = "Accept">
    </form>

  </div>
  </div>
  </section>
</div>

{{/each}}