<h2>Pending bets:</h2> 
{{#each pDeBets as |bet|}}
<div class = "container">
<section class="active-bet">
  <div class="bet-header">
    <h3> The Bet: {{bet.terms}}</h3>
    <h4> The Bettors:</h4>
    {{!-- <p>{{{destruct_users bet.users}}}</p> --}}
    <h4> The Prize:</h4>
    <p>{{bet.prize}}</p>
    <br>
    <form action="/api/bets/status/{{bet.id}}?_method=PUT" method="POST">
    <input class = "AcceptBtn" type = "submit" value = "Accept Bet!" name = "Accept">
    </form>

  </div>
  </div>
  </section>
</div>

{{/each}}