<section class="container">
  <h3 class="profile">{{profile.name}}</h3>
  <h4>Active Bets: {{activeBets}}</h4>
  <h4>Wins: {{userWins}}</h4>
  <h4>Losses: {{userLosses}}</h4>
  <section class="flex-row justify-center">
    {{#each  as ||}}
    {{> }}
    {{/each}}
  </section>
</section>
<script src="./js/logout.js"></script>
