<main class='container'>
  <div class=" form-signin">

    <form class="form signup-form form-signin">
      <h2 class="page-title h3 mb-3 fw-normal">Signup</h2>
      <div class="row justify-space-between-md"></div>
      <div class="signup-card ">

        <div class="form-group form-floating row justify-space-between-md">
          <label for="username-signup floatingInput">Username:</label>
          <input class="form-input form-control" type="text" id="floatingInput username-signup" />
        </div>
        <div class="form-group form-floating">
          <label for="email-signup floatingInput">Email:</label>
          <input class="form-input form-control" type="text" id="floatingInput email-signup" />
        </div>
        <div class="form-group form-floating ">
          <label for="password-signup floatingInput">Password:</label>
          <input class="form-input form-control" type="password" id="floatingPassword password-signup" />
        </div>
        <div class="form-group">
          <button class="w-100 btn btn-lg btn-primary form-group" type="submit">signup</button>
        </div>
      </div>
    </form>
  </div>
</main>

<script src="./js/signup.js"></script>