:root{
 --green:#478559;
--Purplebaseline:#161748;
--Pinkhighlight:#a10745;
--bluewater:#39a0ca;
}

html,
body {
  height: 100%;
}

body{
  background-image: url("../Images/blue_rays.jpeg");
 background-repeat: no-repeat;
background-size: cover;
}

.body::before{
  opacity: 0.2;
}

nav{
  text-align: center;
}

h1{
  text-align: center;
  font-size: 55px;
}

.container1{
  background-color: rgba(45, 184, 219, 0.692);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} 

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h3{
  font-size: 30px;
  text-align: center;

}
