:root{
 --green:#478559;
--Purplebaseline:#161748;
--Pinkhighlight:#a10745;
--bluewater:#39a0ca;
}

html,
body {
  height: 100%;
}

.container3{
  margin-left: 825px;
  border: black;
}
""
header.container3{
  color: rgba(0, 0, 0, 0.568);
}


body{
  background-image: url("../Images/blue_rays.jpeg");
 background-repeat: no-repeat;
background-size: cover;
}

.jumbotron{
  background-color: rgb(215, 231, 67);
}

.img{
  background-image: ;

}

nav{
  text-align: center;
}

h1{
  text-align: center;
  font-size: 55px;
}

a{
  font-size: 23px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.container1{
  background-color: rgba(45, 184, 219, 0.692);
}

h1.display-4.fst-italic{
  text-align: center;
}

.container{
  padding: auto;
}

main.container{
  background-color: black;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} 

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h3{
  font-size: 30px;
  text-align: center;

}

.card{
  background-color: yellowgreen;
}